@use 'sass:math';
@import url(https://fonts.googleapis.com/css?family=Inter:regular,600,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Sen:700&display=swap);
@import 'mixins';


$yellowColor: #FFD050;
$darkBLueColor: #232536;
$lightYellowColor: #FFF5D8;

$maxWidthContainer: 1310;
$pc: em($maxWidthContainer);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

._ibg{
	position: relative;
}

._ibg img{
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* :focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
} */
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	font-size: rem(16);
}
body {
	line-height: 1;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Inter';
	color: #fff;
	&._lock {
		overflow: hidden;
	}
}
input,
button,
textarea {
	font-size: inherit;
	outline: none;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}


// ==============================================General



h2 {
	font-size: rem(36);
	line-height: rem(48);
	font-family: 'Sen';
	font-weight: bold;
	@media(max-width : $mobile){
		font-size: rem(24);
		line-height: rem(36);
	}
}

.burger {
	display: none;
	@media(max-width : $mobile){
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		&._active {
			span {
				transform: scale(0);
			}
			&::before {
				top: 50%;
				transform: rotate(45deg);
			}
			&::after {
				top: 50%;
				transform: rotate(-45deg);
			}
		}
		&::before,
		&::after,
		& span {
			content:'';
			position: absolute;
			left: 0;
			height: rem(1);
			width: rem(30);
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
			transform: scale(1);
		}
	}
}

.button {
	font-family: 'Sen';
	font-size: rem(18);
	font-weight: bold;
	line-height: rem(24);
	min-height: rem(56);
	padding: 0 rem(48);
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	&_yellow {
		background-color: $yellowColor;
		transition: all 0.3s ease 0s;
		color: $darkBLueColor;
		@media(any-hover : hover){
			&:hover {
				background-color: #EDC14A;
			}
		}
	}
	@media(max-width : $mobile){
		padding: 0 rem(25);
		line-height: rem(20);
		min-height: rem(50);
	}
}

.view {
	color: #592EA9;
	line-height: rem(28);
	transition: all 0.3s ease 0s;
	font-weight: 700;
	@media(any-hover : hover){
		&:hover {
			text-decoration: underline;
		}
	}
}


.categories {
	margin-bottom: rem(128);
	@media(max-width : $pc){
		margin-bottom: rem(60);
	}
	@media(max-width : $mobileSmall){
		margin-bottom: rem(40);
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		color: $darkBLueColor;
		margin-bottom: math.div(48, 36) * 1em;
		text-align: center;
	}
	&__list {
		/* display: flex;
		flex-wrap: wrap;
		gap: rem(32);
		@media(max-width : $mobile){
			gap: rem(16);
		} */
		display: grid;
		grid-template-columns: repeat(4, rem(296));
		gap: rem(32);
		@media(max-width : $pc){
			grid-template-columns: repeat(3, rem(296));
		}
		@media(max-width : $tablet){
			grid-template-columns: repeat(2, rem(296));
			gap: rem(16);
		}
		@media(max-width : em(650)){
			grid-template-columns: repeat(1, rem(296));
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		// width: rem(296);
		border: 1px solid rgba(109, 110, 118, 0.3);
		transition: background-color 0.3s ease 0s;
		@media(any-hover : hover){
			&:hover {
				background-color: $yellowColor;
				border-color: $yellowColor;
			}
		}
		a {
			width: 100%;
			height: 100%;
			padding: rem(32);
		}
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(48);
		height: rem(48);
		background-color: #FBF6EA;
		border-radius: rem(8);
	}
	&__name {
		font-family: 'Sen';
		font-weight: bold;
		letter-spacing: rem(-1);
		font-size: rem(28);
		line-height: math.div(40, 28) * 100%;
		margin-top: rem(16);
		margin-bottom: math.div(4, 28) * 1em;
		color: $darkBLueColor;
		@media(max-width : $mobile){
			font-size: rem(18);
			letter-spacing: normal;
			line-height: math.div(25, 18) * 100%;
		}
	}
	&__text {
		line-height: math.div(28, 16) * 100%;
		color: #6D6E76;
		@media(max-width : $mobile){
			font-size: rem(14);
		}
	}
}


.join {
	text-align: center;
	max-width: rem(414);
	margin: 0 auto;
	margin-bottom: rem(128);
	@media(max-width : $pc){
		margin-bottom: rem(60);
	}
	@media(max-width : $mobile){
		max-width: rem(300);
	}
	@media(max-width : $mobileSmall){
		margin-bottom: rem(40);
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		color: $darkBLueColor;
		letter-spacing: rem(-2);
		margin-bottom: math.div(16, 36) * 1em;
	}
	&__text {
		line-height: math.div(28, 16) * 100%;
		color: #6D6E76;
		margin-bottom: math.div(32, 16) * 1em;
		@media(max-width : $mobile){
			font-size: rem(14);
		}
	}
}


// ==============================================General

//-webkit-overflow-scrolling: touch;
/*
&::-webkit-scrollbar {
	display: none;
}
*/
// -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
// Убирает отображение нажатия

#root {
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: rem($maxWidthContainer);
	margin: 0 auto;
	padding: 0 rem(15);
}

.page {
	flex: 1 1 auto;
	min-width: 0;
}


// ==============================================Header

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $darkBLueColor;
	z-index: 4;
	&__container {
		min-height: rem(80);
		display: flex;
		align-items: center;
		gap: rem(30);
		justify-content: space-between;
	}
	&__logo {
		position: relative;
		z-index: 5;
	}
	&__actions {
		display: flex;
		align-items: center;
		gap: rem(35);
		@media(max-width : $mobile){
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			padding-top: rem(150);
			background-color: rgba(0, 0, 0, 0.9);
			overflow: auto;
			gap: rem(50);
			transition: left 0.3s ease 0s;
			&::before {
				content:'';
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: rem(80);
				background-color: $darkBLueColor;
				z-index: 20;
			}
			&._active {
				left: 0;
			}
		}
	}
	&__menu {
	}
}

.menu-header {
	@media(min-width : $mobile){
		&__list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			column-gap: rem(25);
			margin: rem(10) 0;
		}
		&__item {
			margin: rem(5) 0;
			transition: all 0.3s ease 0s;
			a {
				color: #fff;
			}
			@media(any-hover : hover){
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	@media(max-width : $mobile){
		&__list {
			text-align: center;
		}
		&__item {
			font-size: rem(30);
			a {
				color: #fff;
			}
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}
}

// ==============================================Header








// ==============================================Home


.home-page {
	margin-top: rem(80);
}



.home-featured-post {
	position: relative;
	&__wrapper {
		@media(min-width : $mobileSmall){
			max-width: prc(803, 1280);
		}
	}
	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@media(max-width : $mobile){
			img {
				object-position: rem(-150) 0;
			}
		}
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%)
	}
	&__container {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: prc(130, 1440);
		padding-bottom: prc(190, 1440);
	}
	&__category {
		font-weight: 500;
		letter-spacing: rem(3);
		text-transform: uppercase;
		color: #fff;
		line-height: math.div(20, 16) * 100%;
		span {
			font-weight: 900;
		}
	}
	&__name {
		font-size: rem(56);
		line-height: math.div(64, 56) * 100%;
		font-family: 'Sen';
		font-weight: bold;
		letter-spacing: rem(-2);
		margin: math.div(24, 56) * 1em 0;
		@media(max-width : $tablet){
			font-size: rem(36);
			margin: math.div(18, 36) * 1em 0;
			line-height: math.div(56, 36) * 100%;
		}
		@media(max-width : $mobileSmall){
			font-size: rem(24);
		}
	}
	&__info {
		display: flex;
		line-height: math.div(28, 16) * 100%;
		font-size: rem(16);
		margin-bottom: 1em;
	}
	&__author {
		padding-right: rem(10);
		border-right: 1px solid #fff;
		span {
			color: rgba(255, 208, 80, 1);
		}
	}
	&__date {
		padding-left: rem(10);
	}
	&__excerpt {
		line-height: math.div(28, 16) * 100%;
		font-size: rem(16);
		margin-bottom: math.div(48, 16) * 1em;
		@media(max-width : $mobile){
			font-size: rem(14);
			margin-bottom: math.div(36, 14) * 1em;
		}
	}
	&__button {
		display: inline-flex;
	}
}



.home-all-posts {
	margin: rem(128) 0;
	@media(max-width : $pc){
		margin: rem(60) 0;
	}
	@media(max-width : $mobileSmall){
		margin: rem(40) 0;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		column-gap: rem(15);
		@media(max-width : $mobile){
			flex-direction: column;
			row-gap: rem(60);
		}
		@media(max-width : $mobileSmall){
			row-gap: rem(40);
		}
	}
}

.home-all-posts-featured {
	@media(min-width : $mobile){
		flex: 1 1 prc(669, 1280);
	}
	&__title {
		color: rgba(35, 37, 54, 1);
		letter-spacing: rem(-2);
		margin-bottom: rem(32);
		@media(max-width : $pc){
			margin-bottom: rem(25);
			font-size: rem(28);
		}
	}
	&__card {
		border: 1px solid rgba(109, 110, 118, 0.1);
		padding: prc(32, 669);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__image {
		width: 100%;
		padding-bottom: prc(352, 699);
		margin-bottom: rem(32);
	}
	&__info {
		display: flex;
		color: #4C4C4C;
		font-size: rem(14);
		line-height: rem(20);
		font-weight: 500;
		margin-bottom: rem(16);
	}
	&__author {
		padding-right: rem(10);
		border-right: 2px solid #4C4C4C;
		span {
			color: rgba(89, 46, 169, 1);
			font-weight: bold;
		}
	}
	&__date {
		padding-left: rem(10);
	}
	&__name {
		color: $darkBLueColor;
		font-weight: bold;
		letter-spacing: rem(-1);
		font-family: 'Sen';
		font-size: rem(28);
		line-height: math.div(40, 28) * 100%;
		margin-bottom: rem(16);
		@media(max-width : $pc){
			font-size: rem(20);
			margin-bottom: rem(8);
		}
		@media(max-width : $mobile){
			font-size: rem(16);
		}
	}
	&__excerpt {
		font-size: rem(16);
		line-height: math.div(28, 16) * 100%;
		color: #6D6E76;
		margin-bottom: rem(32);
		@media(max-width : $tablet){
			font-size: rem(14);
			line-height: math.div(24, 14) * 100%;
			margin-bottom: rem(25);
		}
	}
	a {
		color: $darkBLueColor;
	}
}

.home-all-posts-list {
	@media(min-width : $mobile){
		flex: 1 1 prc(517, 1280);
	}
	@media(max-width : $mobile){
		width: 100%;
	}
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: rem(32);
		@media(max-width : $pc){
			margin-bottom: rem(25);
		}
	}
	&__title {
		color: rgba(35, 37, 54, 1);
		letter-spacing: rem(-2);
		@media(max-width : $pc){
			font-size: rem(28);
		}
	}
	&__view {
		font-size: rem(14);
	}
	&__list {
		display: flex;
		flex-direction: column;
	}
	&__item {
		transition: all 0.3s ease 0s;
		&:active {
			background-color: #FBF6EA;
		}
		@media(any-hover : hover){
			&:hover {
				background-color: #FBF6EA;
			}
		}
	}
	&__link {
		display: inline-block;
		padding: rem(32) 0 rem(25) rem(32);
		@media(max-width : $pc){
			padding: rem(25) 0 rem(15) rem(25);
		}
		@media(max-width : $tablet){
			padding: rem(15);
		}
		@media(max-width : $mobile){
			padding: prc(30, 767) prc(15, 767);
		}
	}
	&__info {
		display: flex;
		color: #4C4C4C;
		font-size: rem(14);
		line-height: rem(20);
		font-weight: 500;
		margin-bottom: rem(16);
		@media(max-width : $tablet){
			margin-bottom: rem(8);
			font-size: rem(12);
			line-height: rem(16);
		}
	}
	&__author {
		padding-right: rem(10);
		border-right: 2px solid #4C4C4C;
		@media(max-width : $tablet){
			padding-right: rem(5);
		}
		span {
			color: rgba(89, 46, 169, 1);
			font-weight: bold;
		}
	}
	&__date {
		padding-left: rem(10);
		@media(max-width : $tablet){
			padding-left: rem(5);
		}
	}
	&__name {
		max-width: prc(369, 517);
		color: #232536;
		font-size: rem(24);
		font-family: 'Sen';
		font-weight: bold;
		line-height: math.div(32, 24) * 100%;
		@media(max-width : $pc){
			font-size: rem(20);
		}
		@media(max-width : $tablet){
			max-width: 100%;
		}
		@media(max-width : $mobile){
			font-size: rem(16);
		}
	}
}




.home-about-us {
	margin: rem(128) 0;
	@media(max-width : $pc){
		margin: rem(60) 0;
	}
	@media(max-width : $mobileSmall){
		margin: rem(40) 0;
	}
	&__container {
		@media(min-width : $mobile){
			position: relative;
			padding-top: rem(23);
			&::before,
			&::after {
				content:'';
				position: absolute;
				top: 0;
				right: rem(15);
				height: rem(23);
			}
			&::before {
				width: prc(282, 1280);
				background-color: #592EA9;
				z-index: 3;
			}
			&::after {
				width: prc(1061, 1280);
				background-color: $yellowColor;
				z-index: 2;
			}
		}
	}
	&__wrapper {
		background-color: #F4F0F8;
		padding: prc(60, 991) prc(40, 991);
		@media(min-width: $mobile){
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-flow: row;
			gap: prc(60, 1280);
		}
		@media(min-width : $tablet){
			padding: prc(95, 1280) prc(80, 1280);
		}
		@media(max-width : $mobile){
			display: flex;
			flex-direction: column;
			row-gap: rem(40);
			padding: rem(30) rem(15);
		}
	}
	&__item {
	}
	&__title {
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #232536;
		font-weight: 600;
		line-height: rem(20);
		margin-bottom: math.div(24, 16) * 1em;
		@media(max-width : $mobile){
			font-size: rem(14);
			margin-bottom: math.div(14, 16) * 1em;
		}
	}
	&__subtitle {
		letter-spacing: -2px;
		color: #232536;
		max-width: prc(490, 530);
		margin-bottom: math.div(16, 36) * 1em;
		@media(max-width : $tablet){
			font-size: rem(32);
			line-height: rem(38);
		}
		@media(max-width : $mobile){
			font-size: rem(24);
			line-height: rem(30);
			margin-bottom: math.div(5, 24) * 1em;
		}
		&_less {
			font-family: 'Sen';
			font-weight: 700;
			font-size: rem(28);
			line-height: math.div(40, 28) * 100%;
			letter-spacing: rem(-1);
			margin-bottom: math.div(16, 28) * 1em;
			@media(max-width : $tablet){
				font-size: rem(22);
				line-height: rem(30);
			}
		}
	}
	&__text {
		line-height: rem(28);
		color: #6D6E76;
		&:not(:last-child) {
			margin-bottom: 1em;
		}
		@media(max-width : $tablet){
			font-size: rem(14);
			line-height: rem(24);
			&:not(:last-child) {
				margin-bottom: math.div(8, 14) * 1em;
			}
		}
	}
	&__link {
		color: #592EA9;
		font-size: rem(18);
		font-family: 'Sen';
		font-weight: bold;
		line-height: rem(32);
		@media(max-width : $mobile){
			font-size: rem(16);
			line-height: rem(22);
		}
	}
}




.home-story {
	margin-bottom: rem(128);
	@media(max-width : $pc){
		margin-bottom: rem(60);
	}
	@media(max-width : $mobileSmall){
		margin-bottom: rem(40);
	}
	&__container {
		position: relative;
		@media(max-width : $mobile){
			display: flex;
			flex-direction: column;
			gap: rem(30);
		}
	}
	&__photo {
		padding-bottom: prc(705, 1280);
		@media(min-width : $mobile){
			max-width: prc(949, 1280);
		}
	}
	&__content {
		background-color: #fff;
		padding: rem(80);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media(min-width : $mobile){
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 2;
			max-width: prc(706, 1280);
		}
		@media(max-width : $pc){
			padding: rem(50);
		}
		@media(max-width : $tablet){
			padding: rem(30);
		}
		@media(max-width : $mobile){
			padding: 0;
		}
	}
	&__topic {
		color: $darkBLueColor;
		text-transform: uppercase;
		letter-spacing: rem(3);
		font-weight: 600;
		line-height: rem(20);
		margin-bottom: math.div(25, 16) * 1em;
		@media(max-width : $pc){
			font-size: rem(14);
			margin-bottom: math.div(15, 14) * 1em;
		}
	}
	&__title {
		letter-spacing: rem(-2);
		color: $darkBLueColor;
		margin-bottom: math.div(16, 48) * 1em;
		@media(max-width : $pc){
			font-size: rem(30);
			line-height: math.div(38, 30) * 100%;
		}
		@media(max-width : $tablet){
			font-size: rem(24);
			line-height: math.div(32, 24) * 100%;
		}
	}
	&__text {
		color: #6D6E76;
		line-height: rem(28);
		margin-bottom: math.div(32, 16) * 1em;
		@media(max-width : $pc){
			font-size: rem(14);
		}
	}
}

// ==============================================Home





















// ==============================================Footer

.footer {
	background-color: $darkBLueColor;
	padding: rem(55) 0;
	@media(max-width : $mobile){
		padding: rem(30) 0;
	}
	&__container {

	}
}

.footer-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	column-gap: rem(30);
	row-gap: rem(15);
	margin-bottom: rem(55);
	@media(max-width : $mobile){
		margin-bottom: rem(30);
	}
}

.menu-footer {
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: rem(25);
		margin: rem(10) 0;
	}
	&__item {
		margin: rem(10) 0;
		transition: all 0.3s ease 0s;
		a {
			color: #fff;
		}
		@media(any-hover : hover){
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.subscribe-footer {
	background-color: rgba(46, 48, 64, 1);
	padding: prc(80, 1280) prc(65, 1280);
	margin-bottom: rem(48);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: rem(30);
	@media(max-width : $tablet){
		flex-direction: column;
	}
	&__title {
		color: #fff;
		@media(min-width : $tablet){
			max-width: prc(565, 1090);
		}
	}
	&__form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(24);
		@media(max-width : $tablet){
			width: 100%;
		}
	}
	&__input {
		height: rem(56);
		@media(max-width : $tablet){
			flex: 1 1 auto;
			min-width: rem(200);
		}
	}
	&__field {
		height: 100%;
		width: 100%;
		background-color: transparent;
		border: 1px solid #4C4C4C;
		padding-left: rem(24);
		font-size: rem(16);
		line-height: rem(28);
		color: #6D6E76;
	}
}


.references-footer {
	display: flex;
	justify-content: space-between;
	gap: rem(30);
	align-items: flex-start;
	flex-wrap: wrap;
	&__contact {
		color: #FFFFFF;
		opacity: 0.7;
		font-size: rem(16);
		line-height: rem(28);
		@media(max-width : $mobile){
			font-size: rem(14);
		}
	}
	&__socials {
		display: flex;
		align-items: center;
		gap: rem(25);
		@media(max-width : $mobile){
			gap: rem(15);
		}
	}
}

// ==============================================Footer